.env
.env.local
venv/
.venv/
__pycache__/
*.pyc
db.sqlite3
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/*.log
frontend/media/uploads/
frontend/staticfiles/
frontend/.idea/
frontend/.vscode/
node_modules/
dist/
.DS_Store
*.log
media/uploads/
backend/staticfiles/
.idea/

.vscode/
