.header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 2rem;
}

.header-contacts,
.header-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.header-bar {
  justify-content: space-between;
}

@media (max-width: 375px) {
  .header {
    padding: 1rem;
  }
}
